/.consulo/
/obj/
/Library/
/Temp/
/Build/
/*.suo
/*.max
/*.sln
/*.sln.docstates
/*.csproj
/*.unityproj
/*.pidb
/*.userprefs
/*.user
.DS_Store
.DS_Store?
.DS_Store.meta
Thumbs.db
Thumbs.db.meta
/UpgradeLog.htm

/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor-vs.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp-firstpass-vs.csproj
/Assembly-CSharp-vs.csproj
/Assembly-UnityScript.unityproj
/Assembly-UnityScript-Editor.unityproj
/Assembly-UnityScript-Editor-vs.unityproj
/Assembly-UnityScript-vs.unityproj